{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd"
      },
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "less$"
        ]
      }
    ]
  ]
}
