{
  "presets": [
    "next/babel"
  ],
  "plugins": [
      "inline-react-svg",
      "syntax-async-functions",
      "transform-es2015-modules-commonjs"
    ]
    
    // [
    //   "import",
    //   {
    //     "libraryName": "antd"
    //   },
    //   "wrap-in-js",
    //   {
    //     "extensions": [
    //       "css$",
    //       "less$"
    //     ]
    //   }
    // ]
}
